input[type="text"], input[type="password"],select {
	height: 30px !important;
	width: 350px !important;
	padding: 0 5px !important;
}

.logincard {
	position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a;
    width: 400px;
	margin: 0 auto;
}
